label {
    font-size: x-large;
}

body {

    background-color: rgb(245, 239, 239);
    font-family: Arial, sans-serif;
    text-align: center;
}


footer {
    background-color: rgb(85, 85, 138);
    color: #fff;
    list-style: none;
}




main {
    background-color: rgb(245, 239, 239);
    font-family: Arial, sans-serif;


}



header {

    background-color: rgb(85, 85, 138);
    color: #fff;

    align-content: center;

}

nav {

    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(85, 85, 138);
    float: left;
    width: 100%;

}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #172418;
}






#a {
    border: 10px solid black;
}


div.intro {
    font-size: larger;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;


}

#recuadros {

    display: inline;
    margin-bottom: 1000px;
    padding: 0 4px;
    list-style: none;


}


div.form_input {
    height: 50em;
    width: 10em;
    background-color: aquamarine;
}

div.texto {
    font-size: larger;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;


}

#porque {
    font-size: x-large;
    text-align: center;



}

#redes{
    list-style: none;
    padding: 0 4px;
    list-style: none;
}